@import "tailwindcss";

:root {
  /* Brand */
  --primary: #d4fb20;
  --secondary: #003be2;

  /* Background */
  --background: #ffffff;
  --surface: #f5f5f6;

  /* Text */
  --text-primary: #040819;
  --text-secondary: #82868e;
  --text-dark: #242528;
  --text-muted: #b0b0b0;
  --text-light: #e5e6e8;
  --text-white: #ffffff;

  /* Border */
  --border: #ced0d3;

  /* Accent */
  --accent: #4f4f4f;
  --success: #003be2;
}

@theme inline {
  /* Brand */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Background */
  --color-background: var(--background);
  --color-surface: var(--surface);

  /* Text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-dark: var(--text-dark);
  --color-text-muted: var(--text-muted);
  --color-text-light: var(--text-light);
  --color-text-white: var(--text-white);

  /* Border */
  --color-border: var(--border);

  /* Accent */
  --color-accent: var(--accent);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: var(--font-poppins);
}

/**
colors:
logo and this is brand color: #D4FB20
navbar items text color: #F5F5F6
Hero section title text color: #FFFFFF
Hero description text color: #E5E6E8
Hero section background color: #003BE2
Input box text color: #B0B0B0
Button text color: #242528
button background color: #D4FB20
every section title text color: #040819
every section description text color: #82868E
featured button text color: #4F4F4F
featured button background color: #F5F5F6
small card(title and short description) title text color: #242528
small card(title and short description) description text color: #82868E
card border color: #CED0D3
card title text color: #000000
card by text color: #003BE2
card rating start color: #CED0D3
*/
